{% extends "base.html" %}
{% load i18n %}
{% load modeltags %}
{% load arithmetictags %}

{% block title %}{% url contact_detail invoice.customer.id as customer_url %}{% blocktrans with invoice.customer as customer and customer_url as customer_url %}Invoice for <a href="{{ customer_url }}">{{ customer }}</a>{% endblocktrans %}{% endblock %}

{% block context_menu %}
<div><a href="{% url invoice_edit invoice.id %}">{% trans "Edit" %}</a></div>
<div><a href="{% url invoice_delete invoice.id %}">{% trans "Delete" %}</a></div>
{% endblock %}

{% block content %}
<fieldset class="module aligned">
    {% with invoice as object %}{% with "invoice_id" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    <div class="detail-row">
      <div>
      <label>{{ invoice|verbose_name:"state" }} :</label> {{ invoice.get_state_display }}
      </div>
    </div>
    <div class="detail-row">
      <div>
      <label>{% trans "Amount excluding tax" %} :</label> {{ invoice.amount }}
      </div>
    </div>
    {% if user.get_profile.vat_number %}
    <div class="detail-row">
      <div>
      <label>{% trans "VAT" %} :</label> {{ invoice.get_vat|floatformat:2 }}
      </div>
    </div>
    <div class="detail-row">
      <div>
      <label>{% trans "Amount including tax" %} :</label> {{ invoice.amount_including_tax|floatformat:2 }}
      </div>
    </div>
    {% endif %}
    {% with invoice as object %}{% with "edition_date" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with invoice as object %}{% with "payment_date" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    <div class="detail-row">
      <div>
      <label>{{ invoice|verbose_name:"payment_type" }} :</label> {{ invoice.get_payment_type_display|default:'' }}
      </div>
    </div>
    {% with invoice as object %}{% with "paid_date" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with invoice as object %}{% with "execution_begin_date" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with invoice as object %}{% with "execution_end_date" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with invoice as object %}{% with "penalty_date" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with invoice as object %}{% with "penalty_rate" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with invoice as object %}{% with "discount_conditions" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with invoice as object %}{% with "footer_note" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    <div class="detail-row">
      <div><label>{% trans "Exported file" %} :</label><a href="{% url invoice_download invoice.id %}">{% trans "download pdf file" %}</a></div>
    </div>
</fieldset>

<h1>{% trans "Detail rows" %}</h1>
{% if invoice.invoice_rows.all %}
<div class="search-list">
    <table>
        <thead>
            <tr>
                <th>{% trans "Label" %}</th>
                <th>{% trans "Proposal" %}</th>
                <th>{% trans "Balance payments" %}</th>
                <th>{% trans "Category" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Unit price" %}</th>
                <th>{% trans "Total price" %}</th>
                {% if user.get_profile.vat_number %}
                <th>{% trans "VAT rate" %}</th>
                {% endif %}
                <th>{% trans "Detail" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for invoicerow in invoice.invoice_rows.all %}
           <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ invoicerow.label }}</td>
                <td>{% if invoicerow.proposal %}<a href="{% url proposal_detail invoicerow.proposal.id %}">{{ invoicerow.proposal }}</a>{% endif %}</td>
                <td>{% if invoicerow.proposal %}{% if invoicerow.balance_payments %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}{% endif %}</td>
                <td>{{ invoicerow.get_category_display }}</td>
                <td>{{ invoicerow.quantity|floatformat }}</td>
                <td>{{ invoicerow.unit_price|floatformat:2 }}</td>
                <td>{{ invoicerow.amount|floatformat:2 }}</td>
                {% if user.get_profile.vat_number %}
                <td>{{ invoicerow.vat_rate|default:'' }}</td>
                {% endif %}
                <td>{{ invoicerow.detail|default:''|linebreaksbr }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div>{% trans "No rows" %}</div>
{% endif %}
{% endblock %}
