{% extends "base.html" %}
{% load i18n %}
{% load rowtags %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.10.custom.css" media="screen"/>
<script src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/jquery-ui-1.8.10.custom.min.js" type="text/javascript" charset="utf-8"></script>
<style media="all" type="text/css">@import "{{ MEDIA_URL }}js/jquery-tooltip/jquery.tooltip.css";</style>
<script src="{{ MEDIA_URL }}js/jquery-tooltip/lib/jquery.bgiframe.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery-tooltip/jquery.tooltip.pack.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/rows.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/core.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery.include('{{ MEDIA_URL }}js/datepicker_i18n','jquery.ui.datepicker-'+"{{ LANGUAGE_CODE }}".substr(0,2)+'.js');
    jQuery('.date').datepicker(jQuery.datepicker.regional["{{ LANGUAGE_CODE }}".substr(0,2)]);

    jQuery('.invoice-row input:text').labelInside();
    jQuery('.proposal-field').proposalOverview('{% trans "Proposal" %}', '{% url proposal_detail id=0 %}');
    jQuery('.balance_payments_label').rowHelp();
    jQuery('.balance-payments-field').balanceAll();

    jQuery('#invoice-edit-form').submit(function() {
        jQuery('.invoice-row input.empty-field:text').val('');
        return true;
    });

    var activate_delete = function(){
        jQuery('.delete-button').click(function(e){
            e.preventDefault();
            if (jQuery(e.currentTarget).parent('.inline-formset').children().first('input').val()) {
                jQuery(e.currentTarget).parent('.inline-formset').hide();
                jQuery(e.currentTarget).next('.delete-checkbox').children('input').attr('checked', true);
            } else {
                jQuery('#id_invoice_rows-TOTAL_FORMS').val(parseInt(jQuery('#id_invoice_rows-TOTAL_FORMS').val(), 10) - 1);
                jQuery(e.currentTarget).parent('.inline-formset').remove();
                var i = 0;
                jQuery('.invoice-row').each(function(){
                    jQuery('input, select',this).each(function(){
                        jQuery(this).attr('name',jQuery(this).attr('name').replace(/(invoice_rows-)[0-9]+/,'$1' + i));
                        jQuery(this).attr('id',jQuery(this).attr('id').replace(/(invoice_rows-)[0-9]+/,'$1' + i));
                    });
                    i = i + 1;
                });
            }
        });
    };

    jQuery('#add-button').click(function(e){
        e.preventDefault();
        new_row = jQuery(e.currentTarget).parent('.inline-formset').prev('.invoice-row').clone();
        jQuery(e.currentTarget).parent('.inline-formset').before(new_row);
        jQuery('input',new_row).val('');
        jQuery('input',new_row).attr('checked', false);
        jQuery('option',new_row).attr('selected', false);
        jQuery("option[value='']",new_row).attr('selected', true);
        var row_count = jQuery('#id_invoice_rows-TOTAL_FORMS').val();
        jQuery('input, select',new_row).each(function(){
            jQuery(this).attr('name',jQuery(this).attr('name').replace(/(invoice_rows-)[0-9]+/,'$1' + row_count));
            jQuery(this).attr('id',jQuery(this).attr('id').replace(/(invoice_rows-)[0-9]+/,'$1' + row_count));
        });

        jQuery('input:text', new_row).labelInside();
        jQuery('.proposal-field', new_row).proposalOverview('{% trans "Proposal" %}', '{% url proposal_detail id=0 %}');
        jQuery('.balance_payments_label', new_row).rowHelp();
        jQuery('.balance-payments-field', new_row).balanceAll();

        jQuery(new_row).show();
        jQuery('#id_invoice_rows-TOTAL_FORMS').val(parseInt(row_count, 10) + 1);
        activate_delete();
    });

    jQuery('.delete-checkbox').hide()
    activate_delete();

    {% if from_proposal %}
    jQuery('.proposal-field:first').change();
    {% endif %}
});
</script>
{% endblock %}

{% block content %}
<form action="" method="post" id="invoice-edit-form">
    {% csrf_token %}
    <fieldset class="module aligned">
    {% for hidden in invoiceForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% with invoiceForm.invoice_id as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with invoiceForm.state as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with invoiceForm.edition_date as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with invoiceForm.payment_date as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with invoiceForm.payment_type as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with invoiceForm.paid_date as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with invoiceForm.execution_begin_date as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with invoiceForm.execution_end_date as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with invoiceForm.penalty_date as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with invoiceForm.penalty_rate as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with invoiceForm.discount_conditions as field %}
    {% include "field.html" %}
    {% endwith %}
    <div class="form-row">
    <div><label>{% trans "Detail rows" %} :</label></div>
    {{ invoicerowformset.management_form }}
    {% for form in invoicerowformset.forms %}
        <div class="inline-formset invoice-row">
            {{ form.non_field_errors }}
            {{ form.label.errors|format_errors:form.label.label }}
            {{ form.proposal.errors|format_errors:form.proposal.label }}
            {{ form.category.errors|format_errors:form.category.label }}
            {{ form.quantity.errors|format_errors:form.quantity.label }}
            {{ form.unit_price.errors|format_errors:form.unit_price.label }}
            {{ form.ownedobject_ptr }}<span class="inline-label">{{ form.label.label }} : </span>{{ form.label }} {{ form.proposal }} <span class="balance_payments_label">{{ form.balance_payments.label }} : </span>{{ form.balance_payments }} <span class="help_text" style="display: none">{{ form.balance_payments.help_text }}</span>{{ form.category }} <span class="inline-label">{{ form.quantity.label }} : </span>{{ form.quantity }} <span class="inline-label">{{ form.unit_price.label }} : </span>{{ form.unit_price }} <a href="#" class="delete-button"><img src="{{ MEDIA_URL }}img/icon_deletelink.gif" /></a><span class="delete-checkbox">{{ form.DELETE }}</span>
        </div>
    {% endfor %}
        <div class="inline-formset">
            <a href="#" id="add-button"><img src="{{ MEDIA_URL }}img/icon_addlink.gif" /> {% trans "Add" %}</a>
        </div>
    </div>
    </fieldset>

    <div class="submit-row">
    <input class="default" type="submit" name="action" value="{% trans "Save" %}" />
    </div>
</form>
<div id="proposal-overview"></div>
{% endblock %}