{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="search-list">
    <table>
        <thead>
            <tr>
                <th>{% trans "Invoice id" %}</th>
                <th>{% trans "Customer" %}</th>
                <th>{% trans "State" %}</th>
                <th>{% trans "Amount" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
           <tr class="{% cycle 'row2' 'row1' %} row">
                <td><a href="{% url invoice_detail invoice.id %}">{{ invoice.invoice_id }}</a></td>
                <td><a href="{% url contact_detail invoice.customer.id %}">{{ invoice.customer }}</a></td>
                <td><a href="{% url invoice_detail invoice.id %}">{{ invoice.get_state_display }}</a></td>
                <td><a href="{% url invoice_detail invoice.id %}">{{ invoice.amount }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}