{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if invoices %}
<div>
    <form action="{% url invoice_list_export %}" method="get">
        {% trans "Export invoice book" %} &nbsp;<select name="year">
        {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
        </select>&nbsp;<input type="submit" value="{% trans "Export" %}" />
    </form>
</div>

<div class="search-list">
    <table>
        <thead>
            <tr>
                <th>{% trans "Invoice id" %}</th>
                <th>{% trans "Edition date" %}</th>
                <th>{% trans "Paid date" %}</th>
                <th>{% trans "Customer" %}</th>
                <th>{% trans "Nature" %}</th>
                <th>{% trans "State" %}</th>
                <th>{% trans "Payment type" %}</th>
                <th>{% trans "Download" %}</th>
                <th>{% trans "Amount" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
           <tr class="{% cycle 'row2' 'row1' %} row">
                <td><a href="{% url invoice_detail invoice.id %}">{{ invoice.invoice_id }}</a></td>
                <td><a href="{% url invoice_detail invoice.id %}">{{ invoice.edition_date }}</a></td>
                <td><a href="{% url invoice_detail invoice.id %}">{{ invoice.paid_date|default:'' }}</a></td>
                <td><a href="{% url contact_detail invoice.customer.id %}">{{ invoice.customer }}</a></td>
                <td><a href="{% url contact_detail invoice.customer.id %}">{{ invoice.getNature }}</a></td>
                <td><a href="{% url invoice_detail invoice.id %}">{{ invoice.get_state_display }}</a></td>
                <td><a href="{% url invoice_detail invoice.id %}">{{ invoice.get_payment_type_display|default:'' }}</a></td>
                <td><a href="{% url invoice_download invoice.id %}">{% trans "download" %}</a></td>
                <td class="amount"><a href="{% url invoice_detail invoice.id %}">{{ invoice.amount }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div>{% trans "No invoices" %}</div>
{% endif %}
{% endblock %}
