# Django settings for aemanager project.
import os
import logging

BASE_PATH = os.path.dirname(__file__)

DEBUG = True
TEMPLATE_DEBUG = DEBUG
DEBUG_TOOLBAR = False
DEMO = False
DEMO_RESET_DELAY = 3 # hours

ADMINS = (
    ('', ''),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'postgresql_psycopg2', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '', # Or path to database file if using sqlite3.
        'USER': '', # Not used with sqlite3.
        'PASSWORD': '', # Not used with sqlite3.
        'HOST': '', # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '', # Set to empty string for default. Not used with sqlite3.
    }
}

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# On Unix systems, a value of None will cause Django to use the same
# timezone as the operating system.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'Europe/Paris'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'fr-fr'

gettext = lambda s: s

LANGUAGES = (
    ('en', gettext('English')),
    ('fr', gettext('French')),
)

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# If you set this to False, Django will not format dates, numbers and
# calendars according to the current locale
USE_L10N = True
FORMAT_MODULE_PATH = 'formats'

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = os.path.join(BASE_PATH, 'media')

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash if there is a path component (optional in other cases).
# Examples: "http://media.lawrence.com", "http://example.com/media/"
MEDIA_URL = '/static/'

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = '/media/'

# Make this unique, and don't share it with anybody.
SECRET_KEY = '*qk$m3-y6r(exjz0^xkn+d2^zsg^$l0h^bwpso20ekahwpl8*k'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
#     'django.template.loaders.eggs.Loader',
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
)

TEMPLATE_CONTEXT_PROCESSORS = (
    "django.contrib.auth.context_processors.auth",
    "django.core.context_processors.debug",
    "django.core.context_processors.i18n",
    "django.core.context_processors.media",
    "django.contrib.messages.context_processors.messages",
    "core.context_processors.common",
)

ROOT_URLCONF = 'aemanager.urls'

TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    os.path.join(BASE_PATH, 'templates')
)

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.admin',
    'django_extensions',
    'south',
    'registration',
    # aemanager apps
    'accounts',
    'announcement',
    'autoentrepreneur',
    'backup',
    'bugtracker',
    'contact',
    'core',
    'faq',
    'forum',
    'newsletter',
    'notification',
    'project',
)

AUTH_PROFILE_MODULE = 'autoentrepreneur.UserProfile'
LOGIN_URL = '/user/login/'
LOGOUT_URL = '/user/logout/'
LOGIN_REDIRECT_URL = '/'
REGISTRATION_OPEN = True
if DEMO:
    REGISTRATION_OPEN = False
ACCOUNT_ACTIVATION_DAYS = 7
ACCOUNT_UNREGISTER_DAYS = 7
ACCOUNT_EXPIRED_DAYS = 365
CSRF_FAILURE_VIEW = 'core.views.csrf_failure'
SESSION_COOKIE_SECURE = True
SESSION_EXPIRE_AT_BROWSER_CLOSE = True

EMAIL_HOST = 'localhost'
EMAIL_PORT = 1025
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_TLS = False
DEFAULT_FROM_EMAIL = ADMINS[0][1]
EMAIL_SUBJECT_PREFIX = '[aemanager] '
SERVER_EMAIL = DEFAULT_FROM_EMAIL

if DEBUG:
    PAYPAL_URL = 'https://www.sandbox.paypal.com'
    PAYPAL_RECEIVER_ID = ''
    PAYPAL_BUTTON_ID = ''
    PAYPAL_APP_SUBSCRIPTION_AMOUNT = '0.50'
    PAYPAL_APP_SUBSCRIPTION_CURRENCY = 'EUR'
else:
    PAYPAL_URL = 'https://www.paypal.com'
    PAYPAL_RECEIVER_ID = ''
    PAYPAL_BUTTON_ID = ''
    PAYPAL_APP_SUBSCRIPTION_AMOUNT = '0.50'
    PAYPAL_APP_SUBSCRIPTION_CURRENCY = 'EUR'

BUGTRACKER_VOTES = 10
LOGO_URL = 'http://example.com/static/img/logo.png'
PARENT_SITE_URL = 'http://www.example.com'
TRIAL_DURATION = 30
SERVICE_PROVIDER_EMAIL = '' # when subscription is paid, create invoice for this account

if DEBUG_TOOLBAR:
    MIDDLEWARE_CLASSES = MIDDLEWARE_CLASSES + ('debug_toolbar.middleware.DebugToolbarMiddleware',)
    INTERNAL_IPS = ('127.0.0.1',)
    INSTALLED_APPS = INSTALLED_APPS + ('debug_toolbar',)
    DEBUG_TOOLBAR_CONFIG = {'INTERCEPT_REDIRECTS': False}

logging.basicConfig(format='%(asctime)s - %(levelname)s - %(message)s',
                    level=logging.INFO)
logging.disable(logging.DEBUG)

FILE_UPLOAD_DIR = '/path/to/uploaded_files/' # with the trailing slash
FILE_MAX_SIZE = '1 Mo' # just to display in help text. Must match LimitRequestBody in Apache

CONCURRENT_BACKUP_REQUEST = 5
CONCURRENT_RESTORE_REQUEST = 5

GOOGLE_API_KEY = '' # http://code.google.com/intl/fr-FR/apis/loader/signup.html
EXTERNAL_BUG_TRACKER_URL = 'https://github.com/fgaudin/aemanager/issues/%i'
