{% extends "unregistered_base.html" %}
{% load i18n %}

{% block content %}
    <form action="" method="post" autocomplete="off">
        {{ form.non_field_errors }}
        {% csrf_token %}
        <fieldset class="module aligned">
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% with form.username as field %}
        {% include "field.html" %}
        {% endwith %}
        {% with form.email as field %}
        {% include "field.html" %}
        {% endwith %}
        {% with form.password1 as field %}
        {% include "field.html" %}
        {% endwith %}
        {% with form.password2 as field %}
        {% include "field.html" %}
        {% endwith %}
        <iframe src="{% url tos %}" id="tos-iframe" name="tos" scrolling="auto"></iframe>
        {% with form.tos as field %}
        {% include "field.html" %}
        {% endwith %}
        </fieldset>

        <div class="submit-row">
        <input class="default" type="submit" name="action" value="{% trans "Register" %}" />
        </div>
    </form>
{% endblock %}