{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block extrahead %}
<script src="{{ MEDIA_URL }}js/elrte-1.2/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/jquery.scrollTo-min.js" type="text/javascript" charset="utf-8"></script>
<!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/flot/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="{{ MEDIA_URL }}js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/flot/jquery.flot.stack.js"></script>

<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('.announcement').hide();
    var announcement_animation = function(el){
        var element = el;
        var prev_element = jQuery(element).prev();
        if (!prev_element.length) {
            prev_element = jQuery('.announcement:last');
        }
        jQuery(prev_element).fadeOut(1000, function(){
            jQuery(element).fadeIn(1000, function(){
                var lines = jQuery(this).html().match(/<br>/ig);
                var line_count = 1;
                if (lines) {
                    line_count = lines.length;
                }
                jQuery(this).scrollTo('max', line_count*1200, {
                    easing:'linear',
                    onAfter: function(){
                        var next_element = jQuery(element).next();
                        if (!next_element.length) {
                            next_element = jQuery('.announcement:first');
                        }
                        setTimeout(function(){announcement_animation(next_element)},3000);
                    }});
                });
            });
        };

    announcement_animation(jQuery('.announcement:first'));
});
</script>
{% endblock %}

{% block content %}

<div class="w_left">
<div id="sales" class="widget">{% include "core/sales_widget.html" %}</div>
<div id="taxes" class="widget">{% include "core/taxes_widget.html" %}</div>
<div id="invoices" class="widget">{% include "core/invoices_widget.html" %}</div>
<div id="prospects" class="widget">{% include "core/prospects_widget.html" %}</div>
</div>

<div class="w_right">
{% if announcements %}
<div class="widget">
<h2>{% trans "Info" %}</h2>
    <div  id="announcements">
    {% for announcement in announcements %}
    <div class="announcement">{{ announcement.content|linebreaksbr }}</div>
    {% endfor %}
    </div>
</div>
{% endif %}
<div id="charts" class="widget">{% include "core/charts_widget.html" %}</div>
</div>
{% endblock %}
