{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <fieldset class="module aligned">
    {% with userform as form %}
    {% include "form.html" %}
    {% endwith %}
    {% with addressform as form %}
    {% include "form.html" %}
    {% endwith %}
    {% with profileform as form %}
    {% include "form.html" %}
    {% endwith %}
    </fieldset>

    <div class="submit-row">
    <input class="default" type="submit" name="action" value="{% trans "Save" %}" />
    </div>
</form>
{% endblock %}