{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.10.custom.css" media="screen"/>
<script src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/jquery-ui-1.8.10.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/core.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery.include('{{ MEDIA_URL }}js/datepicker_i18n','jquery.ui.datepicker-'+"{{ LANGUAGE_CODE }}".substr(0,2)+'.js');

    jQuery('.date').datepicker(jQuery.datepicker.regional["{{ LANGUAGE_CODE }}".substr(0,2)]);

    jQuery('#delete-logo').click(function(e){
        e.preventDefault();
        if (window.confirm('{% trans "Are you sure to want to delete your customer header ?" %}')) {
            jQuery.post("{% url logo_delete %}",
                        {"csrfmiddlewaretoken": '{{ csrf_token }}'},
                        function(data){
                            if(data.error == 'ok') {
                                jQuery('#logo').remove();
                            } else {
                                alert('{% trans "An error occured while deleting your custom header" %}')
                            }
                        },
                        "json");
        }
    });
});
</script>
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="module aligned">
    {% with user as object %}{% with "username" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with user as object %}{% with "email" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with userform as form %}
    {% include "form.html" %}
    {% endwith %}
    {% with addressform as form %}
    {% include "form.html" %}
    {% endwith %}
    {% with profileform as form %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% with form.phonenumber as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.professional_email as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.company_name as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.company_id as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.activity as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.professional_category as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.creation_date as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.creation_help as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.freeing_tax_payment as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.payment_option as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.iban_bban as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.bic as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with form.logo_file as field %}
    <div class="form-row">
    {{ field.errors }}
      <div><label for="{{ field.auto_id }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label }}{% if field.field.required %}*{% endif %} :</label> <div class="multiline-value">{{ field }}{% if logo %}<div id="logo"><img src="{% url logo_overview %}"/> <a href="#" id="delete-logo"><img src="{{ MEDIA_URL }}img/icon_deletelink.gif" /></a></div>{% endif %}</div>
      {% if field.field.help_text %}
        <p class="help">{{ field.field.help_text|safe }}</p>
      {% endif %}
      </div>
    </div>
    {% endwith %}
    {% endwith %}
    </fieldset>

    <div class="submit-row">
    <input class="default" type="submit" name="action" value="{% trans "Save" %}" />
    </div>
</form>
{% endblock %}
