{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="search-list">
    <table>
        <thead>
            <tr>
                <th>{% trans "State" %}</th>
                <th>{% trans "Expiration date" %}</th>
                <th>{% trans "Transaction id" %}</th>
            </tr>
        </thead>
        <tbody>
           <tr class="row1">
                <td>{{ subscription.get_state_display }}</td>
                <td><span class="{% if expired %}expired{% endif %}">{{ subscription.expiration_date }}</span></td>
                <td>{{ subscription.transaction_id }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% if not_paid_subscriptions %}
<h1>{% trans "There was a problem with these transactions" %}</h1>
<div class="search-list">
    <table>
        <thead>
            <tr>
                <th>{% trans "State" %}</th>
                <th>{% trans "Expiration date" %}</th>
                <th>{% trans "Transaction id" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for sub in not_paid_subscriptions %}
           <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ sub.get_state_display }}</td>
                <td>{{ sub.expiration_date }}</td>
                <td>{{ sub.transaction_id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<div id="subscription-message">
{% blocktrans %}
Keep using this service until <strong>{{ next_expiration_date }}</strong> for <strong>only €{{ price }}/month</strong> by clicking the button below :
{% endblocktrans %}
</div>

<div id="tos-subscribe">
    <iframe src="{% url tos %}" id="tos-iframe" name="tos" scrolling="auto"></iframe>
    <p>{% trans "By subscribing, you agree to the Terms of Sale and Service." %}</p>
</div>

<div id="paypal-button">
<form action="{{ paypal_url }}/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="custom" value="{{ user.id }}">
<input type="hidden" name="hosted_button_id" value="{{ button_id }}">
<input type="image" src="{{ paypal_url }}/fr_FR/FR/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
<img alt="" border="0" src="{{ paypal_url }}/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
</div>

<div>
{% url unregister as unregister_link %}
{% blocktrans %}
If you want to leave us, follow this link : <a href="{{ unregister_link }}">Unregister</a>
{% endblocktrans %}
</div>
{% endblock %}