Votre abonnement expire dans {{ days }} jour{% if days > 1 %}s{% endif %}.

Passé ce délai, vous ne pourrez plus accéder à l'application à moins de vous abonner en vous rendant sur https://{{ site }}{% url subscribe %}.

Si vous ne souhaitez plus utiliser l'application, vous pouvez vous désinscrire sur cette même page, vos données seront alors supprimées dans les 7 jours. Si vous laissez votre compte en l'état, vous pourrez à tout moment souscrire un abonnement et y accéder à nouveau. Cependant, si vous ne souscrivez pas d'abonnement, votre compte sera supprimé définitivement au bout d'un an.

L'équipe {{ site.name }}