{% extends "base.html" %}
{% load i18n %}
{% load rowtags %}

{% block extrahead %}
<link rel="stylesheet" href="{{ MEDIA_URL }}js/elrte-1.2/css/smoothness/jquery-ui-1.8.7.custom.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{{ MEDIA_URL }}js/elrte-1.2/css/elrte.min.css" type="text/css" media="screen" charset="utf-8">
<script src="{{ MEDIA_URL }}js/elrte-1.2/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/elrte-1.2/js/jquery-ui-1.8.7.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/elrte-1.2/js/elrte.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/elrte-1.2/js/i18n/elrte.fr.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/wysiwyg_editor.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/empty_label.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('#id_proposal-contract_model').change(function(){
        var proposal_id = jQuery('#id_proposal-contract_model option:selected').val();
        if (proposal_id) {
            jQuery.getJSON('{% url proposal_get_contract %}', {'id': proposal_id}, function(data){
                jQuery('#id_proposal-contract_content').html(data);
                jQuery('#id_proposal-contract_content').elrte('val', data);
            });
        }
    });

    jQuery('.proposal-row input:text').bindRowEvents();

    jQuery('#proposal-edit-form').submit(function() {
        jQuery('.proposal-row input.empty-field:text').val('');
        return true;
    });

    // create editor
    jQuery('#id_proposal-contract_content').elrte(opts);

    var activate_delete = function(){
        jQuery('.delete-button').click(function(e){
            e.preventDefault();
            if (jQuery(e.currentTarget).parent('.inline-formset').children().first('input').val()) {
                jQuery(e.currentTarget).parent('.inline-formset').hide();
                jQuery(e.currentTarget).next('.delete-checkbox').children('input').attr('checked', true);
            } else {
                jQuery('#id_proposal_rows-TOTAL_FORMS').val(parseInt(jQuery('#id_proposal_rows-TOTAL_FORMS').val(), 10) - 1);
                jQuery(e.currentTarget).parent('.inline-formset').remove();
                var i = 0;
                jQuery('.proposal-row').each(function(){
                    jQuery('input, select',this).each(function(){
                        jQuery(this).attr('name',jQuery(this).attr('name').replace(/(proposal_rows-)[0-9]+/,'$1' + i));
                        jQuery(this).attr('id',jQuery(this).attr('id').replace(/(proposal_rows-)[0-9]+/,'$1' + i));
                    });
                    i = i + 1;
                });
            }
        });
    };

    jQuery('#add-button').click(function(e){
        e.preventDefault();
        new_row = jQuery(e.currentTarget).parent('.inline-formset').prev('.proposal-row').clone();
        jQuery(e.currentTarget).parent('.inline-formset').before(new_row);
        jQuery('input',new_row).val('');
        jQuery('input',new_row).attr('checked', false);
        jQuery('option',new_row).attr('selected', false);
        jQuery("option[value='']",new_row).attr('selected', true);
        var row_count = jQuery('#id_proposal_rows-TOTAL_FORMS').val();
        jQuery('input, select',new_row).each(function(){
            jQuery(this).attr('name',jQuery(this).attr('name').replace(/(proposal_rows-)[0-9]+/,'$1' + row_count));
            jQuery(this).attr('id',jQuery(this).attr('id').replace(/(proposal_rows-)[0-9]+/,'$1' + row_count));
        });

        jQuery('input:text', new_row).bindRowEvents();

        jQuery(new_row).show();
        jQuery('#id_proposal_rows-TOTAL_FORMS').val(parseInt(jQuery('#id_proposal_rows-TOTAL_FORMS').val(), 10) + 1);
        activate_delete();
    });

    jQuery('.delete-checkbox').hide()
    activate_delete();
});
</script>
{% endblock %}

{% block content %}
<form action="" method="post" id="proposal-edit-form">
    {% csrf_token %}
    <fieldset class="module aligned">
    {% for hidden in proposalForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% with proposalForm.reference as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with proposalForm.state as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with proposalForm.begin_date as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with proposalForm.end_date as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with proposalForm.expiration_date as field %}
    {% include "field.html" %}
    {% endwith %}
    <div class="form-row">
    <div><label>{% trans "Detail rows" %} :</label></div>
    {{ proposalrowformset.management_form }}
    {% for form in proposalrowformset.forms %}
        <div class="inline-formset proposal-row">
            {{ form.non_field_errors }}
            {{ form.label.errors|format_errors:form.label.label }}
            {{ form.category.errors|format_errors:form.category.label }}
            {{ form.quantity.errors|format_errors:form.quantity.label }}
            {{ form.unit_price.errors|format_errors:form.unit_price.label }}
            {{ form.ownedobject_ptr }}<span class="inline-label">{{ form.label.label }} : </span>{{ form.label }} {{ form.category }} <span class="inline-label">{{ form.quantity.label }} : </span>{{ form.quantity }} <span class="inline-label">{{ form.unit_price.label }} : </span>{{ form.unit_price }} <a href="#" class="delete-button"><img src="{{ MEDIA_URL }}img/icon_deletelink.gif" /></a><span class="delete-checkbox">{{ form.DELETE }}</span>
        </div>
    {% endfor %}
        <div class="inline-formset">
            <a href="#" id="add-button"><img src="{{ MEDIA_URL }}img/icon_addlink.gif" /> {% trans "Add" %}</a>
        </div>
    </div>
    {% with proposalForm.contract_model as field %}
    {% include "field.html" %}
    {% endwith %}
    <div class="big-textarea">
    {% with proposalForm.contract_content as field %}
    <div class="form-row">
    {{ field.errors }}
      <div><label for="{{ field.auto_id }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label }}{% if field.field.required %}*{% endif %} :</label>
      {{ field }}
      {% if field.field.help_text %}
        <p class="help">{{ field.field.help_text|safe }}</p>
      {% endif %}
        <p class="help">{% trans "Keywords you can use" %} : {{ substitution_keys }}</p>
      </div>
    </div>
    {% endwith %}
    </div>
    </fieldset>

    <div class="submit-row">
    <input class="default" type="submit" name="action" value="{% trans "Save" %}" />
    </div>
</form>
{% endblock %}