{% extends "base.html" %}
{% load i18n %}
{% load modeltags %}

{% block context_menu %}
<div><a href="{% url contact_edit contact.id %}">{% trans "Edit" %}</a></div>
<div><a href="{% url contact_delete contact.id %}">{% trans "Delete" %}</a></div>
{% endblock %}

{% block content %}
<fieldset class="module aligned">
    {% if contact.function %}
    {% with contact as object %}{% with "function" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% endif %}
    {% if contact.company_id %}
    {% with contact as object %}{% with "company_id" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% endif %}
    <div class="detail-row">
      <div><label>{{ contact|verbose_name:"email" }} :</label> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
      </div>
    </div>
    <div class="detail-row">
      <div><label>{% trans "Phone numbers" %} :</label></div>
      {% for phonenumber in contact.phonenumber_set.all %}
      <div class="inline-formset">{{ phonenumber.get_type_display }} : {{ phonenumber.number }}</div>
      {% endfor %}
    </div>

    <div class="detail-row">
      <div><label>{{ contact|verbose_name:"contacts" }} :</label>
      {% for contact in contact.contacts.all %}
      <div class="inline-formset"><a href="{% url contact_detail contact.id %}">{{ contact }}</a></div>
      {% endfor %}
      </div>
    </div>
    {% with contact.address as object %}{% with "street" as name %}
    {% include "detail_multiline_field.html" %}
    {% endwith %}{% endwith %}
    {% with contact.address as object %}{% with "zipcode" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with contact.address as object %}{% with "city" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with contact.address as object %}{% with "country" as name %}
    {% include "detail_field.html" %}
    {% endwith %}{% endwith %}
    {% with contact as object %}{% with "comment" as name %}
    {% include "detail_multiline_field.html" %}
    {% endwith %}{% endwith %}
</fieldset>

<div class="context-menu"><a href="{% url contract_add contact_id=contact.id %}">{% trans "Add a master aggreement" %}</a></div>
<h1>{% trans "Master aggreements" %}</h1>
{% if contact.contracts.all %}
<div class="search-list">
    <table>
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Last update" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contact.contracts.all %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td><a href="{% url contract_detail contract.id %}">{{ contract.title }}</a></td>
                <td><a href="{% url contract_detail contract.id %}">{{ contract.update_date }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div>{% trans "No master aggreements" %}</div>
{% endif %}
{% endblock %}