{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript">
jQuery(document).ready(function(){
    show_person_fields = function(){
        jQuery('#id_contact-company_id').parent('div').parent('div').hide();
        jQuery('#id_contact-legal_form').parent('div').parent('div').hide();
        jQuery('#id_contact-representative').parent('div').parent('div').hide();
        jQuery('#id_contact-representative_function').parent('div').parent('div').hide();
        jQuery('#id_contact-firstname').parent('div').parent('div').show();
        jQuery('#id_contact-function').parent('div').parent('div').show();
    };

    show_company_fields = function(){
        jQuery('#id_contact-company_id').parent('div').parent('div').show();
        jQuery('#id_contact-legal_form').parent('div').parent('div').show();
        jQuery('#id_contact-representative').parent('div').parent('div').show();
        jQuery('#id_contact-representative_function').parent('div').parent('div').show();
        jQuery('#id_contact-firstname').parent('div').parent('div').hide();
        jQuery('#id_contact-function').parent('div').parent('div').hide();
    };

    jQuery("#id_contact-contact_type_0").click(function(e){
        show_person_fields();
    });
    jQuery("#id_contact-contact_type_1").click(function(e){
        show_company_fields();
    });

    if (jQuery("#id_contact-contact_type_1:checked").length) {
        show_company_fields();
    } else {
        show_person_fields();
    }

    jQuery("#contact-edit-form").submit(function(){
        if (jQuery("#id_contact-contact_type_0:checked").length) {
            jQuery('#id_contact-company_id').val('');
        } else {
            jQuery('#id_contact-firstname').val('');
            jQuery('#id_contact-function').val('');
        }
        return true;
    });

    var activate_delete = function(){
        jQuery('.delete-button').click(function(e){
            e.preventDefault();
            if (jQuery(e.currentTarget).parent('.inline-formset').children().first('input').val()) {
                jQuery(e.currentTarget).parent('.inline-formset').hide();
                jQuery(e.currentTarget).next('.delete-checkbox').children('input').attr('checked', true);
            } else {
                jQuery('#id_phonenumber_set-TOTAL_FORMS').val(parseInt(jQuery('#id_phonenumber_set-TOTAL_FORMS').val(), 10) - 1);
                jQuery(e.currentTarget).parent('.inline-formset').remove();
                var i = 0;
                jQuery('.phonenumber-row').each(function(){
                    jQuery('input, select',this).each(function(){
                        jQuery(this).attr('name',jQuery(this).attr('name').replace(/(phonenumber_rows-)[0-9]+/,'$1' + i));
                        jQuery(this).attr('id',jQuery(this).attr('id').replace(/(phonenumber_rows-)[0-9]+/,'$1' + i));
                    });
                    i = i + 1;
                });
            }
        });
    };

    var activate_default = function(e){
        jQuery('.default-phonenumber').attr('checked', false);
        jQuery(e.currentTarget).attr('checked',true);
    };

    jQuery('#add-button').click(function(e){
        e.preventDefault();
        new_row = jQuery(e.currentTarget).parent('.inline-formset').prev('.phonenumber-row').clone();
        jQuery(e.currentTarget).parent('.inline-formset').before(new_row);
        jQuery('input',new_row).val('');
        jQuery('input',new_row).attr('checked', false);
        jQuery('option',new_row).attr('selected', false);
        jQuery("option[value='']",new_row).attr('selected', true);
        var row_count = jQuery('#id_phonenumber_set-TOTAL_FORMS').val();
        jQuery('input, select, checkbox',new_row).each(function(){
            jQuery(this).attr('name',jQuery(this).attr('name').replace(/(phonenumber_set-)[0-9]+/,'$1' + row_count));
            jQuery(this).attr('id',jQuery(this).attr('id').replace(/(phonenumber_set-)[0-9]+/,'$1' + row_count));
        });

        jQuery(new_row).show();
        jQuery('#id_phonenumber_set-TOTAL_FORMS').val(parseInt(jQuery('#id_phonenumber_set-TOTAL_FORMS').val(), 10) + 1);
        activate_delete();
        jQuery('.default-phonenumber',new_row).click(activate_default);
    });

    jQuery('.delete-checkbox').hide()
    activate_delete();
    jQuery('.default-phonenumber').click(activate_default);

    jQuery("#company-search-engine").click(function(e){
        e.preventDefault();
        var name = jQuery("#id_contact-name").val();
        window.open(jQuery(e.currentTarget).attr("href").replace("%s", name));
    });
});
</script>
{% endblock %}

{% block content %}
<form action="" method="post" id="contact-edit-form">
    {% csrf_token %}
    <fieldset class="module aligned">
    {% for hidden in contactForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% with contactForm.name as field %}
    <div class="form-row">
    {{ field.errors }}
      <div><label for="{{ field.auto_id }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label }}{% if field.field.required %}*{% endif %} :</label> {{ field }}
      <a href="{{ search_engine.url }}" id="company-search-engine">{% blocktrans with search_engine.name as search_engine_name %}search on {{ search_engine_name }}{% endblocktrans %}</a>
      {% if field.field.help_text %}
        <p class="help">{{ field.field.help_text|safe }}</p>
      {% endif %}
      </div>
    </div>
    {% endwith %}
    {% with contactForm.contact_type as field %}
    <div class="form-row">
    {{ field.errors }}
    <div><label for="{{ field.auto_id }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label }}{% if field.field.required %}*{% endif %} :</label>
       <label for="id_contact-contact_type_0"><input type="radio" name="contact-contact_type" value="1" id="id_contact-contact_type_0"{% ifequal contactForm.instance.contact_type 1 %} checked="checked"{% endifequal %}> {% trans "Person" %}</label>
       <label for="id_contact-contact_type_1"><input type="radio" name="contact-contact_type" value="2" id="id_contact-contact_type_1"{% ifequal contactForm.instance.contact_type 2 %} checked="checked"{% endifequal %}> {% trans "Company" %}</label>
    </div>
    </div>
    {% endwith %}
    {% with contactForm.firstname as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with contactForm.company_id as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with contactForm.legal_form as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with contactForm.representative as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with contactForm.representative_function as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with contactForm.function as field %}
    {% include "field.html" %}
    {% endwith %}
    <div class="form-row">
    <div><label>{% trans "Phone numbers" %} :</label></div>
    {{ phonenumberformset.management_form }}
    {% for form in phonenumberformset.forms %}
        <div class="inline-formset phonenumber-row">
            {{ form.ownedobject_ptr }}
            {{ form.contact }}
            {{ form.type }}
            {{ form.number }}
            {{ form.default.label }} : {{ form.default }}
            <a href="#" class="delete-button"><img src="{{ MEDIA_URL }}img/icon_deletelink.gif" /></a><span class="delete-checkbox">{{ form.DELETE }}</span>
        </div>
    {% endfor %}
       <div class="inline-formset">
            <a href="#" id="add-button"><img src="{{ MEDIA_URL }}img/icon_addlink.gif" /> {% trans "Add" %}</a>
        </div>
    </div>
    {% with contactForm.email as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with addressForm.street as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with addressForm.zipcode as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with addressForm.city as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with addressForm.country as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with contactForm.contacts as field %}
    {% include "field.html" %}
    {% endwith %}
    {% with contactForm.comment as field %}
    {% include "field.html" %}
    {% endwith %}
    </fieldset>

    <div class="submit-row">
    <input class="default" type="submit" name="action" value="{% trans "Save" %}" />
    </div>
</form>
{% endblock %}
