{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" href="{{ MEDIA_URL }}js/elrte-1.2/css/smoothness/jquery-ui-1.8.7.custom.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{{ MEDIA_URL }}js/elrte-1.2/css/elrte.min.css" type="text/css" media="screen" charset="utf-8">
<script src="{{ MEDIA_URL }}js/elrte-1.2/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/elrte-1.2/js/jquery-ui-1.8.7.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/elrte-1.2/js/elrte.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/elrte-1.2/js/i18n/elrte.fr.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/wysiwyg_editor.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('#id_contract-contract_model').change(function(){
        var contract_id = jQuery('#id_contract-contract_model option:selected').val();
        if (contract_id) {
            jQuery('#contract-loading').show();
            jQuery.getJSON('{% url contract_get_content %}', {'id': contract_id}, function(data){
                jQuery('#id_contract-title').val(data['title']);
                jQuery('#id_contract-content').html(data['content']);
                jQuery('#id_contract-content').elrte('val', data['content']);
                jQuery('#contract-loading').hide();
            });
        }
    });

    // create editor
    jQuery('#id_contract-content').elrte(opts);
});
</script>
{% endblock %}


{% block content %}
<form action="" method="post" id="contract-edit-form" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="module aligned">
    {% for hidden in contractForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% with contractForm.contract_model as field %}
    <div class="form-row">
    {{ field.errors }}
      <div><label for="{{ field.auto_id }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label }}{% if field.field.required %}*{% endif %} :</label> {{ field }} <img src="{{ MEDIA_URL }}img/ajax-loading.gif" id="contract-loading" style="display:none"/>
      {% if field.field.help_text %}
        <p class="help">{{ field.field.help_text|safe }}</p>
      {% endif %}
      </div>
    </div>
    {% endwith %}
    {% with contractForm.title as field %}
    {% include "field.html" %}
    {% endwith %}
	{% with contractForm.contract_file as field %}
    <div class="form-row">
    {{ field.errors }}
      <div><label for="{{ field.auto_id }}"{% if field.field.required %} class="required"{% endif %}>{% trans "Upload a contract" %}{% if field.field.required %}*{% endif %} :</label> {{ field }}
      {% if field.field.help_text %}
        <p class="help">{{ field.field.help_text|safe }}</p>
      {% endif %}
      </div>
    </div>
    {% endwith %}
    <div class="big-textarea">
    {% with contractForm.content as field %}
    <div class="form-row">
    {{ field.errors }}
      <div><label for="{{ field.auto_id }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label }}{% if field.field.required %}*{% endif %} :</label> {{ field }}
      {% if field.field.help_text %}
        <p class="help">{{ field.field.help_text|safe }}</p>
      {% endif %}
        <p class="help">{% trans "Keywords you can use" %} : {{ substitution_keys }}</p>
      </div>
    </div>
    {% endwith %}
    </div>
    </fieldset>

    <div class="submit-row">
    <input class="default" type="submit" name="action" value="{% trans "Save" %}" />
    </div>
</form>
{% endblock %}