{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Changelog - Ma Petite Auto-Entreprise, gestion de votre activité d'auto-entrepreneur</title>
    <style media="all" type="text/css">@import "{% load adminmedia %}{% admin_media_prefix %}css/base.css";</style>
    <style media="all" type="text/css">@import "{% load adminmedia %}{% admin_media_prefix %}css/forms.css";</style>
    <style media="all" type="text/css">@import "{{ MEDIA_URL }}css/style.css";</style>
    <!--[if lt IE 7]>
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ie6.css" media="screen"/>
    <![endif]-->
  </head>

  <body style="margin:10px">
    <h1>Version 1.4.1</h1>
    <ul>
        <li>Agrandissement du champ titre dans le forum</li>
    </ul>
    <h1>Version 1.4</h1>
    <ul>
        <li>Ajout d'un forum</li>
        <li>Ajout d'un lien vers un moteur de recherche de société sur le formulaire d'ajout de contact</li>
        <li>Renommage de "société" en "professionnel" dans le formulaire d'ajout de contact</li>
        <li>Ajout d'un champ "détail" sous chaque article d'un devis/facture</li>
        <li>Affichage de la TVA à payer sur le tableau de bord</li>
        <li>Correction du bug du caractère "&" dans les libéllés de lignes de devis/facture</li>
    </ul>
    <h1>Version 1.3</h1>
    <ul>
        <li>Possibilité d'établir des factures sans faire référence à un devis</li>
        <li>Création du client directement dans la facture</li>
        <li>Liste des factures associées sur la page d'un client</li>
        <li>Possibilité de facturer sans TVA pour les pays hors UE (pour ceux qui n'ont plus la franchise en base de TVA)</li>
        <li>Correction d'un bug sur l'affichage des graphiques sous IE</li>
    </ul>
    <h1>Version 1.2</h1>
    <ul>
        <li>Gestion de la tva</li>
        <li>Export CSV des factures</li>
        <li>Ajout d'une FAQ</li>
        <li>Systême de notification pour les factures et le suivi de bugs</li>
        <li>Possibilité de trier les bugs</li>
        <li>Affichage du réprésentant sur la page d'un contact</li>
        <li>Affichage des adresses pour utilisation d'enveloppes à fenêtre sur les devis et factures</li>
        <li>Ajout du lien vers le pdf sur la liste des factures</li>
        <li>Le type de paiement n'est plus obligatoire tant que le statut n'est pas à "payée"</li>
        <li>Le numéro de SIRET n'est plus obligatoire pour les clients</li>
        <li>Ajout de la période précédente pour les cotisations</li>
        <li>Correction d'un bug dans le paiement par Paypal</li>
        <li>Correction d'un bug dans le calcul des cotisations</li>
        <li>Correction d'un bug javascript sur les lignes de devis et factures</li>
    </ul>
    <h1>Version 1.1.6</h1>
    <ul>
        <li>Traduction des messages d'erreur liés au bug précédent</li>
    </ul>
    <h1>Version 1.1.5</h1>
    <ul>
        <li>Correction d'un bug sur les délais de paiement des devis (ajout d'une validation quand le délai est "autres")</li>
    </ul>
    <h1>Version 1.1.4</h1>
    <ul>
        <li>Correction d'un bug dans le paiement paypal</li>
    </ul>
    <h1>Version 1.1.3</h1>
    <ul>
        <li>Correction d'une régression sur l'export pdf en présence d'accent</li>
    </ul>
    <h1>Version 1.1.2</h1>
    <ul>
        <li>Correction d'une régression sur le bloc d'annonce</li>
    </ul>
    <h1>Version 1.1.1</h1>
    <ul>
        <li>Correction d'un bug sur les pdf quand le pays comporte des caractères non ascii</li>
        <li>Correction d'un bug d'affichage sur les factures pdf quand la référence du devis est trop longue</li>
        <li>Correction d'un problème d'affichage des graphiques sous ie7</li>
        <li>Vérification de la taille du numéro de facture et affichage d'un message d'aide</li>
        <li>Correction d'un bug lorsqu'on supprimait une ligne de devis/facture non invalide</li>
        <li>Correction d'un bug d'affichage sur l'ajout d'une nouvelle ligne de devis/facture si la précédente contenait des erreurs affichées</li>
    </ul>
    <h1>Version 1.1</h1>
    <ul>
        <li>Correction des accents sur les devis et factures en pdf</li>
        <li>Sauvegarde et restauration des données d'un utilisateur</li>
        <li>Gestion des cotisations en cas de dépassement et affichage de messages d'avertissement</li>
        <li>Ajout d'un message d'aide sur le champ SIRET sur le profil</li>
        <li>Ajout du IBAN/RIB et BIC sur le profil et sur les factures</li>
        <li>Possibilité de remplacer l'en-tête des devis et factures par une image</li>
        <li>Possibilité d'ajouter plusieurs numéros de téléphone à la fois sur un contact</li>
        <li>Ajout d'un champ "commentaire" sur les contacts</li>
        <li>Possibilité d'uploader un fichier sur les contrats cadres et les devis</li>
        <li>Ajout de la version de Aemanager dans le pied de page</li>
        <li>Ajout de l'estimation des cotisations en fonction des dates de paiements attendus</li>
        <li>Ajout d'un message d'aide sur le champ "taux de pénalité"</li>
        <li>Ajout du numéro de téléphone et email professionnels sur le profil et sur les devis</li>
        <li>Prise en compte de la cotisation à la formation professionnelle</li>
        <li>Affichage des CGVU sur la page d'abonnement</li>
        <li>Ajout du délai de paiement sur les devis</li>
        <li>Envoi d'un mail lorsque l'abonnement va expirer et affichage d'un message d'avertissement</li>
        <li>Suppression de la forme juridique et du SIRET du client sur les devis</li>
        <li>Ajout de messages d'information plus visibles sur le tableau de bord</li>
        <li>Ajout de la devise sur le détail des devis et factures</li>
        <li>Correction de l'affichage des décimales sur les devis et factures</li>
        <li>Export du registre des achats</li>
        <li>Renommage des menus factures/dépenses</li>
    </ul>
  </body>
</html>
