{% load i18n %}
<div class="nav-wrapper">
    <div class="nav-left"></div>
    <div class="nav">
        <ul id="navigation">
            {% if not user.is_superuser %}
            <li class="{% if active == "dashboard" %}active{% endif %}">
                <a href="/">
                    <span class="menu-left"></span>
                    <span class="menu-mid">{% trans "Dashboard" %}</span>
                    <span class="menu-right"></span>
                </a>
            </li>
            <li class="{% if active == "business" %}active{% endif %}">
                <a href="{% url project_running_list %}">
                    <span class="menu-left"></span>
                    <span class="menu-mid">{% trans "Business" %}</span>
                    <span class="menu-right"></span>
                </a>
                <div class="sub">
                    <ul>
                        <li>
                            <a href="{% url project_running_list %}">{% trans "Running projects" %}</a>
                        </li>
                        <li>
                            <a href="{% url project_finished_list %}">{% trans "Finished projects" %}</a>
                        </li>
                        <li>
                            <a href="{% url project_add %}">{% trans "Add" %}</a>
                        </li>
                    </ul>
                    <div class="btm-bg"></div>
                </div>
            </li>
            <li class="{% if active == "accounts" %}active{% endif %}">
                <a href="{% url invoice_list %}">
                    <span class="menu-left"></span>
                    <span class="menu-mid">{% trans "Accounts" %}</span>
                    <span class="menu-right"></span>
                </a>
                <div class="sub">
                    <ul>
                        <li>
                            <a href="{% url invoice_list %}">{% trans "Receipts/Invoices" %}</a>
                        </li>
                        <li>
                            <a href="{% url expense_list %}">{% trans "Purchases/Expenses" %}</a>
                        </li>
                        <li>
                            <a href="{% url invoice_add_without_proposal %}">{% trans "Draw up an invoice" %}</a>
                        </li>
                    </ul>
                    <div class="btm-bg"></div>
                </div>
            </li>
            <li class="{% if active == "contact" %}active{% endif %}">
                <a href="{% url contact_search %}">
                    <span class="menu-left"></span>
                    <span class="menu-mid">{% trans "Customers" %}</span>
                    <span class="menu-right"></span>
                </a>
                <div class="sub">
                    <ul>
                        <li>
                            <a href="{% url contact_search %}">{% trans "Search" %}</a>
                            </li>
                        <li>
                            <a href="{% url contact_add %}">{% trans "Add" %}</a>
                        </li>
                    </ul>
                    <div class="btm-bg"></div>
                </div>
            </li>
            {% else %}
            <li class="{% if active == "admin" %}active{% endif %}">
                <a href="{% url admin_dashboard %}">
                    <span class="menu-left"></span>
                    <span class="menu-mid">{% trans "Admin" %}</span>
                    <span class="menu-right"></span>
                </a>
                <div class="sub">
                    <ul>
                        <li>
                            <a href="{% url admin_dashboard %}">{% trans "Admin dashboard" %}</a>
                        </li>
                        <li>
                            <a href="{% url message_list %}">{% trans "Messages" %}</a>
                        </li>
                        <li>
                            <a href="{% url email_users %}">{% trans "Email users" %}</a>
                        </li>
                        <li>
                            <a href="{% url admin:index %}">{% trans "Admin" %}</a>
                        </li>
                    </ul>
                    <div class="btm-bg"></div>
                </div>
            </li>
            {% endif %}
            <li class="{% if active == "account" %}active{% endif %}">
                <a href="{% url settings_edit %}">
                    <span class="menu-left"></span>
                    <span class="menu-mid">{% trans "My account" %}</span>
                    <span class="menu-right"></span>
                </a>
                <div class="sub">
                    <ul>
                        <li>
                            <a href="{% url settings_edit %}">{% trans "Settings" %}</a>
                            </li>
                        <li>
                            {%if demo_mode %}<del>{% endif %}<a href="{% url change_password %}">{% trans "Change password" %}</a>{%if demo_mode %}</del>{% endif %}
                        </li>
                        {% if not user.is_superuser %}
                        <li>
                            {%if demo_mode %}<del>{% endif %}<a href="{% url subscribe %}">{% trans "My subscription" %}</a>{%if demo_mode %}</del>{% endif %}
                        </li>
                        <li>
                            {%if demo_mode %}<del>{% endif %}<a href="{% url message_list %}">{% trans "My messages" %}{% if user.get_profile.unread_message_count %} ({{ user.get_profile.unread_message_count }}){% endif %}</a>{%if demo_mode %}</del>{% endif %}
                        </li>
                        <li>
                            {%if demo_mode %}<del>{% endif %}<a href="{% url notification_edit  %}">{% trans "Notifications" %}</a>{%if demo_mode %}</del>{% endif %}
                        </li>
                        <li>
                            <a href="{% url backup %}">{% trans "Backup/Restore" %}</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="btm-bg"></div>
                </div>
            </li>
            <li class="last{% if active == "help" %} active{% endif %}">
                <a href="{% url issue_list %}">
                    <span class="menu-left"></span>
                    <span class="menu-mid">{% trans "Help" %}</span>
                    <span class="menu-right"></span>
                </a>
                <div class="sub">
                    <ul>
                        <li>
                            {%if demo_mode %}<del>{% endif %}<a href="{% url issue_list %}">{% trans "Bug reports" %}</a>{%if demo_mode %}</del>{% endif %}
                        </li>
                        <li>
                            <a href="{% url topic_list %}">{% trans "Forum" %}</a>
                        </li>
                        <li>
                            <a href="{% url faq_list %}">{% trans "FAQ" %}</a>
                        </li>
                    </ul>
                    <div class="btm-bg"></div>
                </div>
            </li>
        </ul>
        <div class="user-information">
           <a href="{% url logout %}">{% trans "Logout" %}</a>
        </div>
    </div>
    <div class="nav-right"></div>
</div>
