{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.10.custom.css" media="screen"/>
<script src="{{ MEDIA_URL }}js/core.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery.include('{{ MEDIA_URL }}js/datepicker_i18n','jquery.ui.datepicker-'+"{{ LANGUAGE_CODE }}".substr(0,2)+'.js');
    jQuery('.date').datepicker(jQuery.datepicker.regional["{{ LANGUAGE_CODE }}".substr(0,2)]);
});
</script>
{% endblock %}

{% block content %}
{% if backup_request %}
<div class="search-list">
    <table>
        <thead>
            <tr>
                <th>{% trans "Operation" %}</th>
                <th>{% trans "Creation date" %}</th>
                <th>{% trans "State" %}</th>
                <th>{% trans "Since" %}</th>
                {% if backup_request.error_message %}
                <th>{% trans "Error" %}</th>
                {% endif %}
                {% if backup_request.is_done %}
                <th>{% trans "Backup file" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
           <tr class="row1">
                <td>{% trans "Backup" %}</td>
                <td>{{ backup_request.creation_datetime }}</td>
                <td>{{ backup_request.get_state_display }}</td>
                <td>{{ backup_request.last_state_datetime }}</td>
                {% if backup_request.error_message %}
                <td>{{ backup_request.error_message %}</td>
                {% endif %}
                {% if backup_request.is_done %}
                <td><a href="{% url backup_download %}">{{ backup_request.get_backup_filename }}</a></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% else %}
<div>{% trans "No backup actions" %}<br/><br/></div>
{% endif %}
{% if not action_pending %}
<form action="" method="post" id="backup-form">
    <div>{% trans "You can make a backup to load your data in another instance of Aemanager, use data in an other software or just keep your data not only on our server." %}</div>
    {% csrf_token %}
    {% with backup_form as form %}
    {% include "form.html" %}
    {% endwith %}
<div class="submit-row">
    <input class="default" type="submit" name="action_btn" value="{% trans "Backup" %}" />
</div>
</form>
{% endif %}
<h1>{% trans "Restore" %}</h1>
{% if restore_request %}
<div class="search-list">
    <table>
        <thead>
            <tr>
                <th>{% trans "Operation" %}</th>
                <th>{% trans "Creation date" %}</th>
                <th>{% trans "State" %}</th>
                <th>{% trans "Since" %}</th>
                <th>{% trans "Action" %}</th>
                {% if restore_request.error_message %}
                <th>{% trans "Error" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
           <tr class="row1">
                <td>{% trans "Restore" %}</td>
                <td>{{ restore_request.creation_datetime }}</td>
                <td>{{ restore_request.get_state_display }}</td>
                <td>{{ restore_request.last_state_datetime }}</td>
                <td>{{ restore_request.get_action_display }}</td>
                {% if restore_request.error_message %}
                <td>{{ restore_request.error_message }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% else %}
<div>{% trans "No restore actions" %}<br/><br/></div>
{% endif %}
{% if cant_restore %}
<div>{% trans "You can't restore a backup during trial period. You have to subscribe to do this action" %}</div>
{% else %}
{% if not action_pending %}
<form action="" method="post" id="restore-form" enctype="multipart/form-data">
    <div>{% trans "You can restore a backup." %}</div>
    {% csrf_token %}
    <fieldset class="module aligned">
    {% with restore_form as form %}
    {% include "form.html" %}
    {% endwith %}
    </fieldset>
<div class="submit-row">
    <input class="default" type="submit" name="action_btn" value="{% trans "Restore" %}" />
</div>
</form>
{% endif %}
{% endif %}

<h1>{% trans "CSV export" %}</h1>
<div class="search-list">
    <form action="{% url csv_export %}" method="get">
    <div>{% trans "You may download your invoices in CSV format for further treatments. CSV files are not backups and you won't be able to restore them." %}</div>
    {% csrf_token %}
    <fieldset class="module aligned">
    {% with csv_form as form %}
    {% include "form.html" %}
    {% endwith %}
    </fieldset>
    <div class="submit-row">
        <input class="default" type="submit" name="action_btn" value="{% trans "Export" %}" />
    </div>
    </form>
</div>
{% endblock %}
